<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.solstice.mapper.MapModelMapper">
	<select id="getMapModelList" parameterType="int" resultType="mapModel">
		SELECT a.id,c.contactId,c.groupName,a.username,a.headUrl,a.lat,a.lng
		FROM tb_user AS a,(SELECT b.contactId,b.groupName FROM tb_user AS a
		,tb_contact AS b WHERE a.id= b.id AND a.id = #{id}) AS c WHERE a.id =
		c.contactId
	</select>
	<insert id="addMapModel" parameterType="mapModel">
		INSERT INTO tb_contact(contactId,id,groupName)
		VALUES(#{contactId},#{id},#{groupName})
	</insert>
	<delete id="deleteMapModel" parameterType="mapModel">
		DELETE FROM tb_contact WHERE id = #{id} AND contactId = #{contactId}
	</delete>
	<update id="updateMapModelGroupName" >
		UPDATE tb_contact SET groupName = #{2} WHERE id = #{0} AND gourpName = #{1}
	</update>
	<update id="moveMapModel" parameterType="mapModel">
		UPDATE tb_contact SET groupName = #{groupName} WHERE id = #{id} AND contactId = #{contactId}
	</update>
</mapper>